.one{
background-color: rebeccapurple;
font-size: 28;
align-content: center;

}

.two{
    color: aqua;
    background-color: brown;
    font-size: 28px;
    align-content: center;
}
.three{
    background-color: blueviolet;
    font-size: px20;
    align-content: center;
    
}
body{
    color: burlywood
}